<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="changePercent(-5)">
            <em class="fa fa-minus"></em>
        </button>
    </span>
    <input type="number" class="form-control" [ngClass]="{'is-invalid': !isValueValid}" 
        placeholder="Progress" [(ngModel)]="progress" (ngModelChange)="onChange($event)">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="changePercent(5)">
            <em class="fa fa-plus"></em>
        </button>
    </span>
</div>